---
title: "deepnest next Blog"
subtitle: false
layout: layouts/home.njk
eleventyNavigation:
  key: "BlogArchive"
  title: "Blog Archive"
  parent: "Blog"
  order: 100
pagination:
  data: collections.blog_de
  size: 10
  alias: posts
permalink: "/{{lang}}/blog/archive/{% if posts.pageNumber %}{{ posts.pageNumber + 1 }}/{% endif %}"
---
<h2 data-ha-exclude class="text-3xl font-bold underline pb-6" id="last-blog-posts">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = posts %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
