---
title: "deepnest next Blog"
subtitle: false
eleventyNavigation:
  key: "Blog"
  order: 400
numberOfLatestPostsToShow: 3
---
{% set blogPosts = collections['blog_'+page.lang] %}
{% set postsCount = blogPosts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2 class="text-3xl font-bold underline" id="last-blog-posts">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = blogPosts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
