@import "tailwindcss";
@source "../..";
@source "..";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-sky-650: oklch(54.31% 0.1296 242.65);

}


.ofy-hidden {
    overflow-x: hidden;
}

/*
@layer theme {
    .draft {
        background-image: url('/img/in-work-watermark.png');
        background-repeat: repeat;
        background-size: 1920px;
    }
} */