---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" ignore missing %}{% endcss %}
<div class="message-box">
	<ol>
		<li>Edit <code>_data/metadata.js</code> with your blog’s information.</li>
		<li>(Optional) Edit <code>eleventy.config.js</code> with your <a href="https://www.11ty.dev/docs/config/">configuration preferences</a>.</li>
		<li>Delete this message from <code>_includes/layouts/home.njk</code>.</li>
	</ol>
	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
</div>
<!-- Stop deleting -->

<code><pre>
 {{ ctx | dump}}
 </pre></code>
 <code><pre>
 {{ eleventy | dump}}
 </pre></code>
 <code><pre>
 {{ env | dump}}
 </pre></code>
 <code><pre>
 {{ page | dump}}
                 {{ page.lang | dump}}
 </pre></code>
                {%- for entry in collections.all | eleventyNavigation %}
                {%- set entryLangUrl = entry.url | locale_links -%}

                <code><pre>
                {{ entry | dump}}
                ----
                {{ checkLangInUrls(page.lang, entryLangUrl) | dump}} - {{ startWithLocale(page.lang, entry.url) |dump }}

                </pre></code>
                {%- if not checkLangInUrls(page.lang, entryLangUrl) and startWithLocale(page.lang, entry.url) -%}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
                {%- endif %}
				{%- endfor %}

{{ content | safe }}