---
layout: layouts/base.njk
---
<div class="mt-28">
	<header>
		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			<h1 class="text-3xl font-bold tracking-tight text-sky-650">{{title}}</h1>
			{% if subtitle %}<h2 class="text-base font-bold tracking-tight text-sky-650">{{subtitle}}</h2>{% endif %}
		</div>
	</header>
	<main>
		<div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8 isolate" id="skip">
			{%- if page.eleventyNavigation.key == "Home" -%}
				{% include "../test.njk" %}
			{%- else -%}
				{{ content | safe }}
			{%- endif -%}
		</div>
	</main>
</div>
