---
title: Releases
eleventyNavigation:
  key: "release"
  title: "Releases"
  order: 300
eleventyComputed:
  eleventyNavigation:
    url: "/{{lang}}/releases/deepnest"
numberOfLatestPostsToShow: 5
---

<p>Die gesuchte Ressource wurde nach <a href="{{metadata.url}}{{lang}}/releases/deepnest" class="text-sky-650 hover:bg-sky-50 dark:hover:bg-sky-950">/{{lang}}/releases/deepnest</a> verschoben.</p>
<script>
	setTimeout(function() {
		window.location.href = "{{metadata.url}}{{lang}}/releases/deepnest";
	}, 1000);
</script>
