---
title: Releases
draft: true
eleventyNavigation:
  key: "release"
  title: "Releases"
  order: 300
eleventyComputed:
  eleventyNavigation:
    url: "/{{lang}}/releases"
numberOfLatestPostsToShow: 5
---

<p>Die gesuchte Ressource wurde nach <a href="{{metadata.url}}{{lang}}/releases/deepnest/" class="text-sky-650 hover:bg-sky-50 dark:hover:bg-sky-950">/{{lang}}/releases/deepnest</a> verschoben.</p>
<script>
  {%- set js %}
	setTimeout(function() {
		window.location.href = "{{metadata.url}}{{lang}}/releases/deepnest/";
	}, 1000);
  {% endset -%}
  {{- js | jsmin | safe -}}
</script>
